<%-   include("includes/head.ejs") %>
<body>
    
    <h2>THIS PAGE BELONGS TO <%= data.name.toUpperCase(); %></h2>
    <button>Follow</button>
    <button>Message</button>
    <p> FOLLOWERS OF <%= data.name.toUpperCase() %> : <%= data.followers %> &nbsp; &nbsp;  FOLLOWING : <%= data.following %> </p>
   
    <hr>

    <% for (let post of data.posts) { %>
        <img src="<%= post.image %>" alt="Post by <%= data.name %>">
        <p>
            Likes: <%= post.likes %> &nbsp;&nbsp; Comments: <%= post.comments %>
        </p>
    <% } %>

</body>
</html>